* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

nav {
    padding: 32px 16px;
    height: 100vh;
    background-image: url(./images/bg-man-sitting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav img {
    float: left;
    padding-left: 75px;
}

nav img:hover {
    cursor: pointer;
}

nav ul {
    margin-left: 300px;
    float: left;
    list-style: none;
}

#first {
    color: white;
}

#first:hover {
    color: white;
    cursor: pointer;
}

nav li {
    padding: 5px 8px;
    color: rgba(255, 255, 255, .5);
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

nav li:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, .75);
}

.nav-bar>button {
    float: right;
    font-weight: bold;
    color: white;
    border-radius: 80px;
    border: none;
    width: 120px;
    height: 40px;
    padding: 6px 16px;
    background-color: #3a79f9;
    margin-right: 75px;
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgb(0 0 0 / 15%);
}

.nav-bar>button:hover {
    box-shadow: .125rem 0.1875rem 0.9375rem rgb(0 0 0 / 30%);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.left-div {
    background-image: url(./images/shape-mask.svg);
    height: 100vh;
    position: absolute;
}

.left-div>h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 68px;
    color: white;
}

.left-div>p {
    color: white;
}

.learn-more {
    background-color: #3a79f9;
    border-color: #3a79f9;
    color: #fff;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 81.8281px;
}

.learn-more:hover {
    cursor: pointer;
}

.left-div>span {
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
}

.left-div>span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-bar {
    padding: 20px 0px;
    position: sticky;
    top: 0px;
}

.how-it-works {
    position: relative;
    padding: 90px 75px;
}

.how-it-works>h2 {
    margin-bottom: 50px;
}

.hiw-cards {
    width: 100%;
}

.hiw-card {
    float: left;
    width: 33%;
}

.hiw-card>figure {
    position: relative;
}

.icon-div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #EBF1FE;
}

.icon-div>img {
    margin-left: 30px;
    margin-top: 30px;
}

.span-div {
    top: 0px;
    left: 70px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #3B79F9;
}

.span-div>span {
    color: white;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    left: 10px;
    top: 5px;
}

.hiw-card h4 {
    margin-top: 30px;

}

.hiw-card p {
    margin-top: 20px;
}

hr {
    margin-top: 250px;
    margin-left: 5px;
    width: 99%;
}

.about-us {
    width: 100%;
    padding: 40px 75px
}

.clients img {
    padding: 0px 50px;
}

.clients img:hover {
    cursor: pointer;
}