* {
    margin: 0px;
    padding: 0px;
}

nav {
    padding: 32px 16px;
    height: 100vh;
    background-image: url(./images/bg-man-sitting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav>img {
    padding: 0px 75px;
}

nav>img:hover {
    cursor: pointer;
}

